<!doctype html>
<html>
	<%= partial "../partials/head" %>

	<script src="https://carnivalapp.io/sites/495/init.js"></script>
  <body>

	<%= partial "partials/post_nav" %>
	<div id="main" role="main">
		<% if current_article.nil? %>
			<%= yield %>
		<% else %>
			<article><%= yield %></article>
		<% end %>
		<%= partial "partials/footer" %>
  </div>

	</body>
	<script>
		document.addEventListener(
				"DOMContentLoaded",
				function () { 
					Carnival.init({
						enabled: true,
						article_author: "Ольга",
	    			article_selector: "article",
						block_selector: ":scope > p, :scope > pre, :scope > blockquote, :scope > img, :scope > ul"			
					});
					
				}
		);
	</script>
</html>
