<!doctype html>
<html>
	<%= partial "../partials/head" %>

	<script src="https://carnivalapp.io/sites/495/init.js"></script>
  <body>

	<%= partial "partials/post_nav" %>
	<div id="main" role="main">
		<% if current_article.nil? %>
			<%= yield %>
		<% else %>
			<article><%= yield %></article>
      <div id="disqus_thread"></div>
		<% end %>
	</div>
		<%= partial "partials/footer" %>
  </body>

  <script>
/**
 * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
 * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
 */
  /*
     var disqus_config = function () {
     this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
     this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
     };
   */
  (function() { // DON'T EDIT BELOW THIS LINE
   var d = document, s = d.createElement('script');

   s.src = '//helgabakescom.disqus.com/embed.js';

   s.setAttribute('data-timestamp', +new Date());
   (d.head || d.body).appendChild(s);
   })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

	</script>
</html>
