<h1> В кратце обо мне </h1>

<h3>Всем привет !</h3>

<p> Меня зовут Ольга. Я из Башкортостана. А если быть точнее из города Уфа. Я создала этот блог для того чтобы
делиться с вами своим опытом и знаниями. Я буду выкладывать в раздел "Рецепты" статьи с рецептами и пошагово расскажу вам как 
их приготовить. Главное правило: Верьте в себя и у вас все обязательно получится.
Буду рада ответить на ваши вопросы. <%= link_to "Вот мои контакты","/conctacts.html" %>.

</p>

<p>

<h3> А сейчас я расскажу как я начала заниматься выпечкой и о блоге.</h3>


<p> 

Всё началось в 2015 году. Мои коллеги по работе обсуждали капкейки. А именно как их готовить, рецепты и др. И у меня появилось 
желание почитать подробнее про капкейки (на тот момент я и не знала что это такое). И нашла очень много разных рецептов, 
разное оформление. Такие красивые и аппетитные. Мне захотелось самой приготовить их. Для меня никогда не было ничего не 
возможного. Такое ощущение что я родилась и умела делать всё. Но не знала об этом. Но это отступление от темы. Давайте 
вернёмся к ним, к капкейкам. Я приготовила первые капкейки морковные. 
<%= link_to "По рецепту Энди Шефа", "http://andychef.ru/recipes/cupcake-carrot/", target: "_blank" %> 
И я просто влюбилась в них. Мне так понравилось. Так у меня появилось желание заниматься выпечкой!

</p>

<p>
Теперь о блоге. На <%= link_to "главной странице", "/" %>
 отображаются последние статьи из различных категорий. На странице <%= link_to "контакты", "/contacts" %> указано различные способы связи со мной. В разделе
<%= link_to "рецепты", "/categories/" %> находятся категории со всеми статьями рецептов. 
</p>
