<!doctype html>
<html>
	<%= partial "partials/head" %>
  <body>

	<div id="main" role="main">
		<%= partial "partials/nav" %>
		<%= yield %>
		<%= partial "partials/footer" %>
  </div>
	<div class="copiright">
			<strong>
				© 2016, Аникеева Ольга.
			</strong>
			Создано при участии <%= link_to "Sichacvah", "https://github.com/sichacvah" %>.
		</div>

  </body>
</html>
